.y {
    width:100px;
    height:100px;
    border:1px solid;
    background: yellow;
}
.g{
    width:100px;
    height:100px;
    border:1px solid;
    background: rgb(0, 175, 29);
}

.wrapper{
display: flex;
}